#titre{
    display:flex;
    align-items: flex-start;
    font-size: 50px;
    margin-left: 70px;
    padding-top: 170px;
    color:rgb(247, 147, 30);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.titreChat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.sc-ehmTmK {
    width: 100%;
    height: fit-content;
}

.filigrane{
    opacity: 0.6;
    width: 500px;
    margin-right: 100px;
    padding-top: 170px;
}
