@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: fit-content;
	margin-top: 0px;
	padding: 0 2rem;
	padding-bottom: 5px;
	background-color: rgb(255, 177, 88);
	height: fit-content;
	/* padding: 0 2rem; */
	/* background-color: rgb(255, 177, 88); */
	color: var(--textColor);
	padding-top: 5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

nav a {
	margin: 0 1rem;
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Dosis', sans-serif;
	align-items: center;
	
}

nav a:hover {
	color: grey;

	
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	z-index: 9;
}

@media only screen and (max-width: 1270px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.Fabars{
		width: 40px;
	}

	header nav {
		position: fixed;
		overflow: hidden;
		z-index: 9;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color:rgb(255, 177, 88);
		transition: 1s;
		transform: translateY(-100vh);
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 4rem;
		margin-bottom: 0px;
		color: black !important;
		font-family: 'Dosis', sans-serif;
	}
}

.howTo{
	border-radius: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	width: 120px;
	color: black;
	background-color: transparent;
	border: none;
	font-size: 18px;
	font-family: 'Dosis', sans-serif;
}
.howTo:hover{
	color: grey;


}

.howToMobile{
	border-radius: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 500px;
	color: black;
	background-color: transparent;
	border: none;
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.active{
    width: 100% !important;
    /* position: fixed; */
    top: 0;
	height: fit-content;
	max-height: min-content;
    transition: 0.3s linear;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background-color:white; */
	background: rgb(255,255,255);
	background-image: url(../../../public/entete.png);
	background-size:auto;
	background-repeat: no-repeat;
    z-index: 9;
	padding-bottom: 200px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

@media screen and (min-width: 1500px) {
	.active{
		width: 100% !important;
		/* position: fixed; */
		top: 0;
		height: fit-content;
		max-height: min-content;
		transition: 0.3s linear;
		display: flex;
		justify-content:space-between;
		align-items: center;
		/* background-color:white; */
		background: rgb(255,255,255);
		background-image: url(../../../public/entete.png);
		background-size:cover;
		background-repeat: no-repeat;
		z-index: 9;
		padding-bottom: 200px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;
	}
  }



.hidden{
    height: 4rem;
    width: 100%;
    z-index: -1;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    position: fixed;
    /* top: -80px; */
    transition: 0.3s linear;
	overflow-y: hidden;

}

.buyHeader{
    width: 100% !important;
    /* position: fixed; */
    top: 0;
	height: fit-content;
	max-height: min-content;
    transition: 0.3s linear;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background-color:white; */
	background-color:transparent;
	background: url(../../../public/entete.png) ;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    z-index: 9;
    /* box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08); */
    /* padding: 0 7%; */
	padding-top: 0px;
	padding-bottom: 200px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;

}
