header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: rgb(255, 177, 88);
	color: var(--textColor);
	padding-top: 100px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

nav a {
	margin: 0 1rem;
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	align-items: center;
	
}

nav a:hover {
	color: grey;

	
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.Fabars{
		width: 40px;
	}

	header nav {
		position: fixed;
		overflow: hidden;
		z-index: 9;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color:rgb(255, 177, 88);
		transition: 1s;
		transform: translateY(-100vh);
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 4rem;
		margin-bottom: 0px;
		color: black !important;
		font-family: 'Dosis', sans-serif;
	}
}

.howTo{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 120px;
	color: black;
	background-color: transparent;
	border: solid 1px black;
	font-size: 15px;
	font-family: 'Dosis', sans-serif;
}
.howTo:hover{
	background-color: rgb(247, 147, 30);


}

.howToMobile{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 300px;
	color: black;
	background-color: transparent;
	border: solid 1px black;
	background-color: transparent;
	font-size: 34px;
	margin-top: 10px;
	margin-bottom: 10px;
}
