/* 
.App {
  text-align: center;
  overflow: auto;
  font-family: 'Fjalla One', sans-serif;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Fjalla One', sans-serif;
}

#langButton{
  margin-top: 10px;
  margin-bottom: 0;
  width: 100vw;
}

.lang{
  color: #000;
  background-color: goldenrod;
  border: black solid 2px;
  border-radius: 15px;
  margin-top: 5px;
  margin-right: 5px;
  font-family: 'Fjalla One', sans-serif;
  
}
.lang:hover,
.lang:focus,
.lang:active {
  background-color:rgb(242, 60, 60);
  border-color: black;
  outline: none;
}

#navcontainer{
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'Fjalla One', sans-serif;
}

#banner{
  width: 100vw;
  height: 600px;
  background-position:center;
  background-size: cover;
  background-image: url("../public/banner.JPG");
  margin-top: 0px;
  margin-bottom: 0px;
}


.accroche{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 20px;
  font-family: 'Fjalla One', sans-serif;
}

.bannerbutton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Fjalla One', sans-serif;

}

.button{
  color: white;
  background-color:rgb(242, 60, 60);
  border: solid white 3px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Fjalla One', sans-serif;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(255, 216, 0, 1);
  border: solid black 3px;
  color: #000;
  outline: none;
}

#count{
  margin-top: 50px;
  margin-bottom: 50px;
}

#roadmap{
  margin-top: 0px;
  padding-bottom: 50px;
  padding-top: 10px;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
background: linear-gradient(242deg, rgb(245, 203, 13) 0%, rgba(255,255,255,1) 37%);
}


#roadmapDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 90%;
  min-width: fit-content;
  background-color: white;
  border-radius: 30px;
}

#roadmapPic{
  width: 100% ;
}

#produit{
  margin-top: 0px;
  padding-bottom: 50px;
  padding-top: 10px;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
background: linear-gradient(242deg, rgba(244, 189, 67, 1) 0%, rgba(220,0,255,0.7637648809523809) 56%);
}

#produitDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 90%;
  min-width: fit-content;
  background-color: white;
  border-radius: 30px;
}

.description{
  color: #000;
  font-size: 18px;
  margin-left: 50px;
  margin-right: 20px;
  font-family: 'Fjalla One', sans-serif;
}


#team{
  margin-top: 0px;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
background: linear-gradient(242deg, rgb(255, 141, 60) 0%, rgb(45, 146, 254) 43%);
  font-family: 'Fjalla One', sans-serif;
  
}

#profileDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Fjalla One', sans-serif;
}

.profileCard{
  padding-top: 10px;
  margin-right: 20px;
  font-family: 'Fjalla One', sans-serif;
}
.profilePic{
height: 200px;
border-radius: 50%;
}
.profilePic:hover,
.profilePic:focus,
.profilePic:active {
  border: solid gold 5px
}

.name{
  margin-top: 20px;
  line-height: 2px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  font-family: 'Fjalla One', sans-serif;
}

.legend{
  margin-top: 2px;
  line-height: 2px;
  font-size: 15px;
  font-style: italic;
  color: #000;
  font-family: 'Fjalla One', sans-serif;
}

.newsletter{
  margin-top: 0px;
  font-family: 'Fjalla One', sans-serif;
}

#newsDiv{
  padding-top: 10px;
  background-color: aquamarine;
} */