#logo{
    margin-right: 10px;
}

.shadow{
    background:  rgba(250,226,121,1);
    margin-top: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}


.shadowMobile{
    background:  rgba(250,226,121,1);
    margin-top: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}