.navbar{
    margin-top: 0px;
    width: 100vw !important;
    height: fit-content;
    display: flex;
    background-color: transparent;
    margin-bottom: 50px;
}


#navbarbrand{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 80px;
    font-weight: 600;
}

#navlogo{
    border-radius: 50%;
    margin-right: 10px;
}

.nav-link {
    color: black !important;
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
    color:white !important;
    }

#navtext{
    font-size: 25px;
    font-weight: 600;
    align-items: center;
}


.navbar-collapse {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 40px; 
  }

  .navbar-toggle{
    color: aqua;
    background-color: aqua;
  }
  #togButton{
    color: red;
    border: 5px solid black;
    border-radius: 20px;
    width: 80px;
    height: 80px;
  }
.navbar-toggler-icon {
    width: 40px;
    height: 40px;
}


