.navbar{
    margin-top: 20px;
  width: 100vw !important;
  height: fit-content;
  display: flex;
  background-color: transparent;
  margin-bottom: 50px;
}


#navbarbrand{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 80px;
    font-weight: 600;
}

#navlogo{
    border-radius: 50%;
    margin-right: 10px;
}

.nav-link {
    color: black !important;
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
    color:white !important;
    }

#navtext{
    font-size: 25px;
    font-weight: 600;
    align-items: center;
}


.navbar-collapse {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
  }