@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

.App{
  height: 100%;
  width: 100vw;
  margin-left:  0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  padding: 0px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  position: relative;
  color: black;
  /* background-size: cover;
  background-image: url(../public/fonddegrade.png); */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -webkit-overflow-scrolling: touch;
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
}
.view {
  width: 100%;
  height: 100%;
  margin-left:  0px;
  margin-right: 0px;
  overflow: scroll;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* @viewport {
  zoom: 1.0;
  min-width: extend-to-zoom;
  max-width: 100vw;
} */

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

.headerNew{
  background-position:center;
  background-size: 100% 100%;
  /* background-image: url("../public/LAUNCHPNG.png"); */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

  }

.headerNewMobile{
  background-position:center;
  background-size: 130% 100%;
  /* background-image: url("../public/LAUNCHPNG.png"); */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  color: black;
}

body{
  font-family: 'Dosis', sans-serif;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.langContainer{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100vw;
  position: relative;
}

#langButton{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#langButtonMobile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
  margin-top: 0px;
  margin-left: 20px;
 

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.lang{
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: white solid 2px;
  border-radius: 40px;
  margin-top: 5px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Dosis', sans-serif;
  
}
.lang:hover,
.lang:focus,
.lang:active {
  background-color:rgba(255, 255, 255, 0.3);
  outline: none;
}


.langMobile{
  font-size: 28px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border: black solid 2px;
  border-radius: 40px;
  margin-top: 5px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Dosis', sans-serif;
  
}
.langMobile:hover,
.langMobile:focus,
.langMobile:active {
  background-color:rgba(255, 255, 255, 0.5);
  outline: none;
}


#navcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: 'Dosis', sans-serif;
  width: 100vw !important;
  height: 150px;
  /* background-color: rgb(255, 177, 88); */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
       
}

#banner{
  width: 100vw;
  height: 650px;
  background-position:center;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  

}
#bannerMobile{
  width: 100vw;
  height: 500px;
  /* background-position:center;
  background-size: cover;
  background-image: url("../public/banner.JPG"); */
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  

}

.accroche{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
  font-family: 'Dosis', sans-serif;
}

#socials{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 100px;
  /* background-image: url(../public/fonddegrade.png); */
  border-radius: 40px;
 
}

.socialicon{
  color: #000;
}

.footerBox{
  padding-top: 20px;
}

#socialsFooter{
  margin-top: 20px;
}

.socialiconFooter{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.socialiconFooter:hover,
.socialiconFooter:focus,
.socialiconFooter:active {
  border: solid black 2px;
  border-radius: 50%;
}

.socialicon{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.socialicon2{
  display: flex;
  flex-direction: row;
}

.socialicon:hover,
.socialicon:focus,
.socialicon:active {
  border: solid rgb(247, 147, 30);
  border-radius: 50%;
}

.socialicon2:hover,
.socialicon2:focus,
.socialicon2:active {
  border: solid rgb(247, 147, 30);
  border-radius: 50%;
}

.bannerbutton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Dosis', sans-serif;

}

.button{
  font-size: 18px;
  color: white;
  background-color:rgb(247, 147, 30);
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Dosis', sans-serif;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(247, 146, 30, 0.722);
  outline: none;
}

.buttonMobile{
  font-size: 50px;
  color: white;
  background-color:rgb(247, 147, 30);
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 10px;
  font-family: 'Dosis', sans-serif;
  border: none;
}

.buttonMobile:hover,
.buttonMobile:focus,
.buttonMobile:active {
  background-color: rgba(247, 146, 30, 0.722);
  outline: none;
}


.buttonSales{
  color: white;
  font-size: 18px;
  background-color:black;
  border: solid white 3px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: 'Dosis', sans-serif;
}

.buttonSales:hover,
.buttonSales:focus,
.buttonSales:active {
  background-color: rgb(247, 147, 30);
  outline: none;
}



.buttonSalesMobile{
  color: white;
  font-size: 50px;
  background-color:black;
  border: solid white 3px;
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: 'Dosis', sans-serif;
  border: none;
  
}

.buttonSalesMobile:hover,
.buttonSalesMobile:focus,
.buttonSalesMobile:active {
  background-color: rgb(247, 147, 30);
  outline: none;
}

.countDiv{
  width: 100vw !important;
  min-width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  margin-top: 100px;
  /* background-image: url(../public/fonddegrade.png); */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;

}
#count{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  padding-top: 20px;
  width: 100vw !important;
  min-width: fit-content;
  height: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.date{
  color: red; 
  font-size: 40px;
  /* padding-top: 5px;
  padding-bottom: 5px;
  background: white;
  border-radius: 10px; */
}

.vente{
color:rgb(247, 147, 30);
font-family: 'Dosis', sans-serif;
}

#about{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  padding-top: 20px;
  width: 100vw;
  min-width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  /* background-image: url(../public/fonddegrade2.png); */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#aboutDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 5px rgba(247, 147, 30, 0.2);
}

#roadmap{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 80px;
  padding-top: 20px;
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  /* background-image: url(../public/fonddegrade2.png); */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}


#roadmapDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 80vw;
  min-width: fit-content;
  background-color: white;
  border-radius: 40px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#roadmapPic{
  width: 100% ;
  border-radius: 40px;
  /* border: solid 2px black; */
  margin-bottom: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#roadmapPicMobile{
  width: 600px ;
  border-radius: 40px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#roadmaptitle{
  color: rgb(247, 147, 30) !important;
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
  
}


.nameTitre{
  margin-top: 0px;
  color: #000;
}

.prodanddescr{
  margin: 0px;
  display: flex;
  flex-direction: row;
  width: 100vw;
}



a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

#produit{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  padding-top: 20px;
  height: fit-content;
  display: flex;
  max-width: 100vw;
  min-width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  /* background-image: url(../public/fonddegrade_pieces.png); */
  text-decoration: none;
}

#produitDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* width: 800px; */
  min-width: fit-content;
  height: 400px;
  /* border: solid black 2px; */
  background-color: white;
  /* background-position:center;
  background-size: cover;
  background-image: url(../public/LAUNCHATNK.png); */
  border-radius: 30px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0px 0px 20px 5px rgba(247, 147, 30, 0.2);
}

/* #produitDiv:hover,
#produitDiv:focus,
#produitDiv:active {
  border: solid black 3px;
  color: #000;
  outline: none;
  cursor: pointer;
} */

#product{
  margin-left: 50px;
}

.description{
  color: #000;
  font-size: 18px;
  margin-left: 0px;
  margin-right: 50px;
  margin-top: 20px;
  font-family: 'Alata', sans-serif;
  font-weight: 100;
  text-decoration: none;
  width: 500px;
}

.nameProduct{
  color: #000;
}

.modalDesc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

/* .modal-content {
  max-width: none !important;
}

.modal-container{
  max-width: none !important;
  width: 90% !important;
}

.custom-modal-style {
  width: 200px;
  height: 802px;
  } */


#aboutMobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
 
}

#aboutMobile{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  margin-top: 0px;
  padding-bottom: 50px;
  padding-top: 10px;
  height: fit-content;
  display: flex;
  max-width: 100vw;
  min-width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#produitDivMobile{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* max-width: 80%;
  min-width: fit-content; */
  height:fit-content;
  background-color: white;
  /* border: solid black 2px; */
  border-radius: 30px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  text-decoration: none; 
  box-shadow: 0px 0px 20px 5px rgba(247, 147, 30, 0.2);
}



.descriptionMobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-size: 40px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  margin-bottom: 100px;
  margin-top: 0px;
  text-decoration: none;
}

.nameProductMobile{
  color: #000;
  font-size: 50px;
  font-weight: 600;
}



#tokenomics{
  margin-top: 0px;
  padding-bottom: 50px;
  padding-top: 20px;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  /* background-image: url(../public/fonddegrade_pieces.png); */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

#tokenomicsDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 100vw;
  min-width: fit-content;
  min-height:max max-content;
  
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#diagrammePic{
  width: 600px;
  margin-bottom: 20px;
 }
 


#team{

  padding-top: 20px;
  margin-top: 0px;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  /* background-image: url(../public/fonddegrade2.png); */
  font-family: 'Alata', sans-serif;
  padding-bottom: 50px;

  
}

#profileDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Alata', sans-serif;
 
}

.profileCard{
  padding-top: 10px;
  margin-right: 20px;
  font-family: 'Alata', sans-serif;
}
.profilePic{
height: 200px;
border-radius: 50%;
}
.profilePic:hover,
.profilePic:focus,
.profilePic:active {
  box-shadow: 0px 0px 20px 12px rgba(247, 147, 30, 0.2);
}

.animalPic{
  width: 180px;
  margin-left: 0px;
  margin-right: 0Px;
}

.produitPic{
  width: 150px;
  height: 300px;
  padding-bottom: 50px;
  margin-left: 0px;
  margin-right: 0Px;
}

.animalPicMobile{
  width: 200px;
  margin-left: 0px;
  margin-right: 0Px;
  margin-top: 50px;
}

.aboutPic{
  width: 350px;
  margin-left: 0px;
  margin-right: 0Px;
}

.aboutPicMobile{
  width: 600px;
  margin-left: 0px;
  margin-right: 0Px;
}

.name{
  margin-top: 20px;
  line-height: 2px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  font-family: 'Alata', sans-serif;
}

.prodname{
  margin-top: 20px;
  line-height: 2px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  font-family: 'Alata', sans-serif;
}

.legend{
  padding-top: 2px;
  line-height: 4px;
  font-size: 15px;
  font-style: italic;
  color: #000;
  font-family: 'Dosis', sans-serif;
}


.newsletter{
  margin-top: 0px;
  font-family: 'Alata', sans-serif;
}

#newsDiv{
  padding-top: 10px;
  background-color: aquamarine;
}

.pdfClass{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#email{
  color: #000;
  text-decoration: underline;
}


.modalMobile{
  /* position: absolute;
  top: 50%;
  bottom: 50%; */
  
  right: 14%;
  /* transform: translate(-50%, -50%);  */
  vertical-align: middle;
  width: 100vw !important;
}


.prodInfo{
  color: white;
  font-size: 18px;
  background-color:black;
  border: solid white 3px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: 'Dosis', sans-serif;
}

.prodInfo:hover,
.profInfo:focus,
.prodInfo:active {
  background-color: rgb(247, 147, 30);
  color: #000;
  outline: none;
}

.prodInfoMobile{
  color: white;
  font-size: 25px;
  background-color:black;
  border: solid white 3px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: 'Dosis', sans-serif;
}

.prodInfoMobile:hover,
.prodInfoMobile:focus,
.prodInfoMobile:active {
  background-color: rgb(247, 147, 30);
  border: solid black 3px;
  color: #000;
  outline: none;
}

.countbuttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
}

.howToCountButton{
  color: white;
  margin-top: 20px;
  font-size: 18px;
  background-color:black;
  border: none;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Dosis', sans-serif;
}

.howToCountButton:hover{
	background-color: rgba(247, 146, 30, 0.539);
	color: white;
  border: none;

}

.howToCountButtonMobile{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
  justify-content: center;
	width: 270px;
	color: white;
	font-size: 30px;
  background-color:black;
  border: none;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  font-family: 'Dosis', sans-serif;
	
}

.howToCountButtonMobile:hover{
	color:rgb(247, 147, 30);

}

.buyLangFront{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 90px;
  right: 50px;
  padding-top: 5px;
  z-index: 9;
  /* position: absolute;
  top: 60px;
  left: 500px;
  z-index: 9; */
  font-family: 'Dosis', sans-serif;
}

.holocat{
  position: absolute;
  top: 160px;
  width: 800px;
  left: 30%;
  z-index: 0;
}
/* .holocatDiv{
  position: absolute;
  top: 100px;
  width: 800px;
  left: 10%;
  z-index: 0;
} */

.holocatMobile{
  position: absolute;
  top: 140px;
  width: 600px;
  left: 30%;
  z-index: 0;
}

#navlogo{
  width: 200px;
  height: 50px;
  margin-right: 0px;
}

.promotion{
  width: fit-content;
  max-width: 90%;
  height: fit-content;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 100px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 10px rgba(247, 147, 30, 0.7);
}

.promoImage{
  object-fit: cover;
  max-height:100%;
  max-width:100%;
  border-radius: 30px;
}