
.App{
  height: 100%;
  width: 100%;
  margin-left:  0px;
  margin-right: 0px;
  overflow: auto;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  position: relative;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
}
.view {
  width: 100%;
  height: 100%;
  margin-left:  0px;
  margin-right: 0px;
  overflow: scroll;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* @viewport {
  zoom: 1.0;
  min-width: extend-to-zoom;
  max-width: 100vw;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body {
  overflow-x: hidden;
}

body{
  font-family: 'Fjalla One', sans-serif;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.langContainer{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100vw;
  position: relative;
}

#langButton{
  margin-top: 10px;
  margin-bottom: 0;
  height: 30px;
  margin-right: 10px;
  margin-left: auto;
  position:absolute;
  top:0;
  right:0;
  z-index: 9;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.lang{
  color: #000;
  background-color: white;
  border: black solid 2px;
  border-radius: 40px;
  margin-top: 5px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Fjalla One', sans-serif;
  
}
.lang:hover,
.lang:focus,
.lang:active {
  background-color:rgb(242, 60, 60);
  border-color: black;
  outline: none;
}


.langMobile{
  color: #000;
  font-size: 40px;
  background-color: white;
  border: black solid 2px;
  border-radius: 40px;
  margin-top: 5px;
  margin-right: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Fjalla One', sans-serif;
  
}
.langMobile:hover,
.langMobile:focus,
.langMobile:active {
  background-color:rgb(242, 60, 60);
  border-color: black;
  outline: none;
}


#navcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: 'Fjalla One', sans-serif;
  width: 100vw !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

#banner{
  width: 100vw;
  height: 800px;
  background-position:center;
  background-size: cover;
  background-image: url("../public/banner.png");
  margin-top: 0px;
  margin-bottom: 0px;
}


.accroche{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
  font-family: 'Fjalla One', sans-serif;
}

#socials{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 100px;
  background-color: white;
  border-radius: 40px;
  
}

.footerBox{
  padding-top: 20px;
}

#socialsFooter{
  margin-top: 20px;
}

.socialiconFooter{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.socialiconFooter:hover,
.socialiconFooter:focus,
.socialiconFooter:active {
  border: solid black 2px;
  border-radius: 50%;
}

.socialicon{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.socialicon2{
  display: flex;
  flex-direction: row;
}

.socialicon:hover,
.socialicon:focus,
.socialicon:active {
  border: solid rgba(250,226,121,1);
  border-radius: 50%;
}

.socialicon2:hover,
.socialicon2:focus,
.socialicon2:active {
  border: solid rgba(250,226,121,1);
  border-radius: 50%;
}

.bannerbutton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Fjalla One', sans-serif;

}

.button{
  font-size: 18px;
  color: white;
  background-color:rgb(242, 60, 60);
  border: solid white 3px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Fjalla One', sans-serif;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(250,226,121,1);
  border: solid black 3px;
  color: #000;
  outline: none;
}

.buttonMobile{
  font-size: 50px;
  color: white;
  background-color:rgb(242, 60, 60);
  border: solid white 5px;
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 10px;
  font-family: 'Fjalla One', sans-serif;
}

.buttonMobile:hover,
.buttonMobile:focus,
.buttonMobile:active {
  background-color: rgba(250,226,121,1);
  border: solid black 5px;
  color: #000;
  outline: none;
}


.buttonSales{
  color: white;
  font-size: 18px;
  background-color:black;
  border: solid white 3px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: 'Fjalla One', sans-serif;
}

.buttonSales:hover,
.buttonSales:focus,
.buttonSales:active {
  background-color: rgba(250,226,121,1);
  border: solid black 3px;
  color: #000;
  outline: none;
}

.buttonSalesMobile{
  color: white;
  font-size: 50px;
  background-color:black;
  border: solid white 3px;
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: 'Fjalla One', sans-serif;
  
}

.buttonSalesMobile:hover,
.buttonSalesMobile:focus,
.buttonSalesMobile:active {
  background-color: rgba(250,226,121,1);
  border: solid black 3px;
  color: #000;
  outline: none;
}


#count{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

#about{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  padding-top: 0px;
  width: 100vw;
  min-width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(250,226,121,1);
  background: linear-gradient(0deg, rgba(237,70,207,1) 0%, rgba(250,226,121,1) 5%);
}

#aboutDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* max-width: 80%;
  min-width: fit-content; */
  height: 400px;
  background-color: rgba(70, 173, 237, 1);
  /* background-position:center;
  background-size: cover;
  background-image: url(../public/LAUNCHATNK.png); */
  border-radius: 30px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#roadmap{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 50px;
  padding-top: 10px;
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(172,70, 237, 1) 0%, rgba(255,255,255,1) 5%);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}


#roadmapDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 80vw;
  min-width: fit-content;
  background-color: white;
  border-radius: 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#roadmapPic{
  width: 100% ;
  border-radius: 40px;
  border: solid 2px black;
}

#roadmaptitle{
  color: black !important;
}


.nameTitre{
  margin-top: 0px;
  color: #000;
}

.prodanddescr{
  margin: 0px;
  display: flex;
  flex-direction: row;
  width: 100vw;
}





#produit{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  padding-top: 20px;
  height: fit-content;
  display: flex;
  max-width: 100vw;
  min-width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,70,207,1) 5%);
}

#produitDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* max-width: 80%;
  min-width: fit-content; */
  height: 400px;
  background-color: rgba(70, 173, 237, 1);
  /* background-position:center;
  background-size: cover;
  background-image: url(../public/LAUNCHATNK.png); */
  border-radius: 30px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#produitDiv:hover,
#produitDiv:focus,
#produitDiv:active {
  border: solid black 3px;
  color: #000;
  outline: none;
  cursor: pointer;
}

.description{
  color: #000;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 10px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.nameProduct{
  color: #000;
}

.modalDesc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

/* .modal-content {
  max-width: none !important;
}

.modal-container{
  max-width: none !important;
  width: 90% !important;
}

.custom-modal-style {
  width: 200px;
  height: 802px;
  } */


#aboutMobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#aboutMobile{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  margin-top: 0px;
  padding-bottom: 50px;
  padding-top: 10px;
  height: fit-content;
  display: flex;
  max-width: 100vw;
  min-width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(250,226,121,1);
  background: linear-gradient(0deg, rgba(237,70,207,1) 0%, rgba(250,226,121,1) 5%);
}

#produitDivMobile{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* max-width: 80%;
  min-width: fit-content; */
  height:fit-content;
  background-color: rgba(70, 173, 237, 1);
  border-radius: 30px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.descriptionMobile{
  color: #000;
  font-size: 40px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  margin-bottom: 100px;
  margin-top: 0px;
}

.nameProductMobile{
  color: #000;
  font-size: 50px;
  font-weight: 600;
}



#tokenomics{
  margin-top: 0px;
  padding-bottom: 50px;
  padding-top: 10px;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(108,47, 201, 1);
  background: linear-gradient(0deg,rgb(41,212,242) 0%, rgba(172,70, 237, 1) 5%);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

#tokenomicsDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 100vw;
  min-width: fit-content;
  height: 400px ;
  min-height:max max-content;
  
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#diagrammePic{
  width: 600px;
  margin-bottom: 20px;
 }
 


#team{

  padding-top: 20px;
  margin-top: 0px;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(41,212,242);
background: linear-gradient(0deg, rgb(255, 199, 44) 0%, rgba(41,212,242,1) 0%);
  font-family: 'Fjalla One', sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  
}

#profileDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Fjalla One', sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.profileCard{
  padding-top: 10px;
  margin-right: 20px;
  font-family: 'Fjalla One', sans-serif;
}
.profilePic{
height: 200px;
border-radius: 50%;
}
.profilePic:hover,
.profilePic:focus,
.profilePic:active {
  border: solid gold 5px
}

.animalPic{
  width: 300px;
  margin-left: 0px;
  margin-right: 0Px;
}
.animalPicMobile{
  width: 400px;
  margin-left: 0px;
  margin-right: 0Px;
  margin-top: 50px;
}

.aboutPic{
  width: 300px;
  margin-left: 0px;
  margin-right: 0Px;
}

.aboutPicMobile{
  width: 400px;
  margin-left: 0px;
  margin-right: 0Px;
}

.name{
  margin-top: 20px;
  line-height: 2px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  font-family: 'Fjalla One', sans-serif;
}

.prodname{
  margin-top: 20px;
  line-height: 2px;
  font-size: 40px;
  font-weight: 600;
  color: #000;
  font-family: 'Fjalla One', sans-serif;
}

.legend{
  padding-top: 2px;
  line-height: 4px;
  font-size: 15px;
  font-style: italic;
  color: #000;
  font-family: 'Fjalla One', sans-serif;
}


.newsletter{
  margin-top: 0px;
  font-family: 'Fjalla One', sans-serif;
}

#newsDiv{
  padding-top: 10px;
  background-color: aquamarine;
}

.pdfClass{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#email{
  color: #000;
  text-decoration: underline;
}