.headerDetails{
    width: 100vw;
    height: 200px;
    margin-bottom: 50px;
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.back{
    margin-left: 50px;
    font-size: 18px;
    color: white;
    background-color:black;
    border: solid white 3px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Poppins', sans-serif;
}

.back:hover,
.back:focus,
.back:active {
  background-color: rgba(0, 0, 0, 0.099);
  outline: none;
  color: black;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.detailsPic{
    width: 600px;
    margin-top: 20px;
}

.detailsText{
    color: black;
    margin-top: 0px;
    padding: 20px;
    font-size: 20px;
    width:800px;
    font-family: 'Alata', sans-serif;
    background-color: white;
    border-radius: 30px;
}


.headerDetailsMobile{
    width: 100vw;
    height: 400px;
    margin-bottom: 50px;
    background-position:center;
    background-size: cover;
    background-image: url("../public/banner.JPG");
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.detailsPicMobile{
    margin-top: 200px;
    width: 800px;
    margin-bottom: 100px;
}

.detailsTextMobile{
    padding: 40px;
    font-size: 40px;
    width:800px;
    font-family: 'Alata', sans-serif;
    background-color: white;
    color: black;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 30px;
}

.backMobile{
    margin-left: 50px;
    font-size: 50px;
    color: white;
    background-color:rgb(242, 60, 60);
    border: solid white 3px;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Alata', sans-serif;
}

.backMobile:hover,
.backMobile:focus,
.backMobile:active {
  background-color: rgba(250,226,121,1);
  border: solid black 3px;
  color: #000;
  outline: none;
}