@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

body {
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  background-position: top top;
  background-size: cover;
  margin: 0;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  text-align: center;
  /* background: rgba(250,226,121,1); */
  background-color: white;
  /* background-position:center;
  background-size: cover;
  background-image: url(../public/banner.png); */
  /* background: rgb(98,132,181);
background: linear-gradient(90deg, rgba(98,132,181,1) 0%, rgba(104,137,162,1) 100%); */
}

.container {
  width: 100%;
  margin: 15% auto;
}
.col-4 {
  width: 25%;
  float: left;
}

h1 {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1;
}

@media (min-width: 768px) {
  .container {
    width: 1100px;
  }
  h1 {
    font-size: 58px;
  }
}
